# Ignore all files in the sunoapi directory
/sunoapi/*

# ignore artifacts and data directories
/artifacts/*
/data/*

# Ignore .env files inside the music-orchestrator and suno-api directories
/music-orchestrator/*.env